CONFIG_SERVER_URL=http://localhost:8021
CART_DB_URL=jdbc:postgresql://blubug.me:8005/bakery_carts
CART_DB_USER=cart_user
CART_DB_PASSWORD=cart_password
REDIS_HOST=blubug.me
REDIS_PORT_CART=6379
EUREKA_URL=http://localhost:8761/eureka/
CART_SERVICE_URL=http://localhost:8083
PRODUCT_SERVICE_URL=http://localhost:8084
