CONFIG_SERVER_URL=http://bakery-config-server:8021
CART_DB_URL=jdbc:postgresql://bakery-carts-db:5432/bakery_carts
CART_DB_USER=cart_user
CART_DB_PASSWORD=your_cart_db_password
REDIS_HOST=bakery-carts-redis
REDIS_PORT_CART=6379
EUREKA_URL=http://bakery-eureka-server:8761/eureka/
