# Example Environment variables for bakery_cart_service
ACTIVE_PROFILE=dev
CART_DB_PASSWORD=cart_password
CART_DB_URL=jdbc:postgresql://bakery-carts-db:5432/bakery_carts
CART_DB_USER=cart_user
CONFIG_SERVER_URL=http://config-server:8081
EUREKA_URL=http://eureka-server:8082/eureka/
REDIS_HOST=bakery-carts-redis
REDIS_PORT_CART=6379

SERVER_PORT=8084
